@import "./utils/utils.main.css";
@import "./module/module.main.css";

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: var(--green);
}

.container {
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
}

.btn {
  position: relative;
  overflow: hidden;
  background: var(--green-gradient);
  font-weight: 500;
  color: var(--white);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 500%);
      -ms-transform: translate(-50%, 500%);
          transform: translate(-50%, 500%);
  width: 2rem;
  height: 2rem;
  background: url("../../img/user.svg") no-repeat;
  background-size: 100%;
  background-position: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn::after {
  content: '';
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0; left: 0;
  opacity: 0.5;
  -webkit-filter: blur;
          filter: blur;
  background: -o-linear-gradient(right, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(40%, #fff), color-stop(60%, #fff), to(transparent));
  background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
  -webkit-transform: translate(-100%, -25%) rotate(10deg);
      -ms-transform: translate(-100%, -25%) rotate(10deg);
          transform: translate(-100%, -25%) rotate(10deg);
  -webkit-animation: blick 2s infinite;
          animation: blick 2s infinite;
}

.btn:hover {
  color: transparent;
}

.btn:hover::before {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn:hover::after {
  opacity: 0;
}

.hero {
  padding-top: 6rem;
  position: relative;
  z-index: 1;
  height: 72rem;
}

.footer {
  padding-bottom: 5rem;
  margin-top: 9.2rem;
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 320px;
    padding: 0;
  }
  .hero {
    padding-top: 4rem;
    height: 80rem;
  }
  .footer {
    padding-bottom: 3rem;
    margin-top: 5rem;
  }
}