.email {
  margin-top: 9rem;
  -webkit-animation: to-top .3s .8s both;
          animation: to-top .3s .8s both;
}

.email .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email .container .logo-wrapper {
  margin-right: 10rem;
}

.email-form-wrapper {
  width: 100%;
}

.email-form {
  padding: 0.2rem;
  background: var(--green-gradient);
  border-radius: 9.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-form .i-mail {
  padding: 0.7rem 2.4rem;
  height: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 8.5rem;
  color: var(--green);
  font-size: 1.7rem;
  font-weight: 600;
}

.email-form .i-mail::-webkit-input-placeholder {
  color: #d9d9d9;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 147.828%;
}

.email-form .i-mail::-moz-placeholder {
  color: #d9d9d9;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 147.828%;
}

.email-form .i-mail:-ms-input-placeholder {
  color: #d9d9d9;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 147.828%;
}

.email-form .i-mail::-ms-input-placeholder {
  color: #d9d9d9;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 147.828%;
}

.email-form .i-mail::placeholder {
  color: #d9d9d9;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 147.828%;
}

.email-form .btn-send-mail {
    position: relative;
  width: 18rem;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 100%;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.email-form .btn-send-mail::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-150%, -50%);
        -ms-transform: translate(-150%, -50%);
            transform: translate(-150%, -50%);
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    background: url('../../img/Arrow_right.svg') no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    -o-transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
}

.email-form .btn-send-mail:hover {
    color: transparent;
}

.email-form .btn-send-mail:hover::before {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
}

@media screen and (max-width: 1050px) {
  .email-form {
    padding: .1rem;
  }
  .email-form .i-mail {
    padding: .6rem 1.2rem;
    height: 3rem;
    font-size: 1.2rem;
  }
  .email-form .i-mail::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  .email-form .i-mail::-moz-placeholder {
    font-size: 1.2rem;
  }
  .email-form .i-mail:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .email-form .i-mail::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .email-form .i-mail::placeholder {
    font-size: 1.2rem;
  }
  .email-form .btn-send-mail {
    width: 10rem;
    font-size: 1.2rem;
  }
}