.hero-container {
  position: relative;
  z-index: 3;
}

.info .info-alert-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info .info-alert-wrapper .info-alert {
  width: 21.5rem;
  height: 8.6rem;
  background-color: var(--white);
  border-radius: 0 0 2.58rem 2.58rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .info-alert-wrapper .info-alert .info-alert-text-top {
  color: var(--green);
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
}

.info .info-alert-wrapper .info-alert .info-alert-text-bottom {
  color: var(--green);
  font-size: 2.8rem;
  font-style: italic;
  font-weight: 900;
}

.info .info-title span {
    display: block;
}

.info .info-title .info-title-top {
  margin-bottom: -1.7rem;
  color: var(--white);
  text-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.6);
  font-size: 4.4rem;
  font-style: italic;
  font-weight: 900;
}

.info .info-title .info-title-top.info-title-top__right {
  margin-left: 8rem;
}

.info .info-title .info-title-bottom {
  color: var(--white);
  text-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.6);
  font-size: 5.7rem;
  font-style: italic;
  font-weight: 900;
}

.info-title-top[data-animation="to-right"] {
    -webkit-animation: to-right .5s .2s both;
            animation: to-right .5s .2s both;
}

.info-title-top[data-animation="to-left"] {
    -webkit-animation: to-left .5s .4s both;
            animation: to-left .5s .4s both;
}

.info-title-bottom[data-animation="to-right"] {
    -webkit-animation: to-right .5s .6s both;
            animation: to-right .5s .6s both;
}

.info .info-swiper-wrapper {
  margin-top: 6rem;
  max-width: 43rem;
}

.info-swiper {
    padding-bottom: 4rem;
}

.info-swiper .swiper-slide .info-swiper-slide-text {
  margin-bottom: 3rem;
  color: var(--white);
  text-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.6);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 120%;
  -webkit-transform: translateY(3rem);
      -ms-transform: translateY(3rem);
          transform: translateY(3rem);
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
}

.info-swiper .swiper-slide.swiper-slide-active .info-swiper-slide-text {
    -webkit-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
}

.info-swiper .swiper-slide .info-swiper-slide-text span {
  text-transform: uppercase;
}

.info-swiper .swiper-slide .swiper-slide-btn {
  padding: 1.3rem 12rem;
  border-radius: 10rem;
  color: var(--white);
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 148.9%;
  bottom: -3rem;
  opacity: 0;
  -webkit-transition: bottom .3s, opacity .3s, color .3s;
  -o-transition: bottom .3s, opacity .3s, color .3s;
  transition: bottom .3s, opacity .3s, color .3s;
}

.info-swiper .swiper-slide.swiper-slide-active .swiper-slide-btn {
    bottom: 0;
    opacity: 1;
}

.info-swiper .swiper-slide .btn::before {
    width: 3.5rem;
    height: 3.5rem;
}

.info-swiper .swiper-slide .btn::before {
    display: none;
}

@media screen and (max-width: 1050px) {
  .info .info-alert-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info .info-alert-wrapper .info-alert {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 21.1rem;
    height: 2.6rem;
  }
  .info .info-alert-wrapper .info-alert .info-alert-text-top {
    font-size: 1rem;
    margin-right: .2rem;
  }
  .info .info-alert-wrapper .info-alert .info-alert-text-bottom {
    font-size: 1.2rem;
  }
  .info .info-title {
    margin-top: 2.4rem;
    text-align: center;
  }
  .info .info-title .info-title-top {
    font-size: 2.4rem;
  }
  .info .info-title .info-title-top.info-title-top__right {
    margin-left: 4rem;
  }
  .info .info-title .info-title-bottom {
    font-size: 3.1rem;
  }
  .info .info-swiper-wrapper {
    margin-top: 2.4rem;
  }
  .info-swiper .swiper-slide {
    text-align: center;
  }
  .info-swiper .swiper-slide .info-swiper-slide-text {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .info-swiper .swiper-slide .info-swiper-slide-text br {
    display: none;
  }
  .info-swiper .swiper-slide .swiper-slide-btn {
    padding: .8rem 7.3rem;
    font-size: 2.2rem;
  }
}