.footer {
    padding-bottom: 5rem;
    margin-top: 9.2rem;
}

.payment .container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.payment .container .payment-img-block {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment .container .payment-img-block__top {
    margin-bottom: 2rem;
}

.payment .container .payment-img-block .payment-img svg path {
    fill: #b7b2b2;
}

.payment .container .payment-img-block .payment-img .stroke path {
    fill: none;
    stroke: #b7b2b2;
}